@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height:100vh;
}

main {
    flex: 1;
}

.wrapper {
  display: flex;
}