@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
}

.messages-area {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  margin: auto;
  overflow-x: auto;
}

.my-message {
  text-align: right;
  background-color: skyblue;
}


.other-message {
  text-align: left;
  background-color: grey;
}

.message {
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  bottom: 0;
}

.textarea-message {
  width: 780px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  border: 2px solid black;
}

.send-btn {
  width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: skyblue;
  border: 2px solid black;
  height: 84px;
  padding: 10px;
  font-size: 25px;
}

.send-message {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}

.send-btn:hover, #register button:hover {
  background: gray;
  cursor: pointer;
}

#register button {
  width: 100px;
  border-radius: 10px;
  background: skyblue;
  border: 2px solid black;
  padding: 10px;
  font-size: 15px;
}

#register input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 20px 0 10px;
}

.display-none {
  display: none;
}

